
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    /*overflow:auto;*/
}
#modal_body_Spec{
    width:inherit;
    height:auto;
    max-height:700px;
    /* To center horizontally */
    margin: 0 auto;
    overflow:auto;
}
.img-list-product:hover{
    transform: scale(1.07);
    
}
.product-upper{
    width: 100%;
    height: 250px;
}
